@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  background: url("../assets/images/foto.png");
  /* border: 1px solid red; */
}

.custom-scroll::-webkit-scrollbar {
  width: 0.5em;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: rgb(60, 9, 60);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 9999px;
}
