@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  background: url("../assets/images/foto.png");
  /* border: 1px solid red; */
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: rgb(60, 9, 60);
}

::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 9999px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.bgg {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%234D1640' fill-opacity='1' d='M0,160L21.8,165.3C43.6,171,87,181,131,176C174.5,171,218,149,262,149.3C305.5,149,349,171,393,192C436.4,213,480,235,524,234.7C567.3,235,611,213,655,202.7C698.2,192,742,192,785,181.3C829.1,171,873,149,916,149.3C960,149,1004,171,1047,176C1090.9,181,1135,171,1178,154.7C1221.8,139,1265,117,1309,122.7C1352.7,128,1396,160,1418,176L1440,192L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
